body {
  background-color: #f4f4f4;
  font-size: 1em;
}
nav {
  color: #f59f00;
}

.nav-link {
  color: #f59f00 !important;
}

.dropdown-menu > a {
  color: #f59f00;
}

.nav-link > i {
  color: #f59f00;
}
.navbar-brand {
  font-size: 20px;
}
li.nav-item {
  padding: 5px;
  font-size: 18px;
  position: relative;
}

li.nav-item::after {
  content: "|";
  color: #f59f00;
  position: absolute;
  right: 0;
  top: 20%;
}

li.nav-item:last-child:after
{
  content: '';
}

.carousel-inner {
  max-height: 600px;
}

.carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover; // here
}

.btn-search {
    background-color: #f59f00;
    color: #343a40;
    border-color: #f59f00;
}
.box-content {
    background: #fff;
    border: 1px solid #e1e3df;
    border-bottom-color: #cbccc9;
    border-radius: 3px;
    overflow: hidden;
}

.category-header {
  background: #f4f4f4;
  color: #373f4a;
  padding: 2rem;
}