html {
  font-family: "Source Sans Pro",helvetica,sans-serif;
}
body {
  background-color: #f4f4f4;
  font-size: 1em;
  font-family: "Source Sans Pro",helvetica,sans-serif !important;
}
nav {
  color: #f59f00;
}

.nav-link {
  color: #f59f00 !important;
}

.dropdown-menu > a {
  color: #f59f00;
}

.nav-link > i {
  color: #f59f00;
}
.navbar-brand {
  font-size: 20px;
}
li.nav-item {
  padding: 5px;
  font-size: 18px;
  position: relative;
}

li.nav-item::after {
  content: "|";
  color: #f59f00;
  position: absolute;
  right: 0;
  top: 26%;
}

li.nav-item:last-child:after
{
  content: '';
}

.carousel-inner {
  max-height: 600px;
}

.carousel-item img {
    height: 600px;
    width: 100%;
    object-fit: cover; // here
}

.btn-search {
    background-color: #f59f00;
    color: #343a40;
    border-color: #f59f00;
}
.box-content {
    background: #fff;
    border: 1px solid #e1e3df;
    border-bottom-color: #cbccc9;
    border-radius: 3px;
    overflow: hidden;
}

.category-header {
  background: #f4f4f4;
  color: #373f4a;
  padding: 2rem;
}

.circle {
  background: #f4f4f4;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
}
.center-content {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.box-arrow-left {
  background: #f59f00;
  color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 20%;
  -ms-flex: 1 0 20%;
  flex: 1 0 20%;
  position: relative;
  padding: 0 1rem;
  height: 4rem;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.box-arrow-left span {
    position: absolute;
    top: 0;
    left: 100%;
    margin: auto;
    height: 0;
    width: 0;
    border-right: 2rem solid transparent;
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent;
    border-left: 2rem solid #f59f00;
}

.box-arrow-left a {
  color: #fff;
}

.box-new-text {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.btn-see-more {
  background-color: #fff;
  color: #373f4a;
  border: 1px solid #e1e3df;
  min-height: 2.5rem;
}

.box-sale {
  position: relative;
}

.box-sale .premium_item_ribon {
  position: absolute;
  top: 0;
}

.box-sale .premium_item_ribon .ribbon {
  font-size: 16px!important;
  width: 50%;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 1em 6em 0 0;
}

.box-sale .premium_item_ribon .ribbon:after {
      content: "";
    position: absolute;
    display: block;
    bottom: -.8em;
    border: 1em solid #c58836;
    z-index: 1;
    right: -2.9em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.box-sale .premium_item_ribon .ribbon .ribbon-content {
  padding: .5em 2em;
  position: relative;
  z-index: 2;
  display: inline-block;
  background: #e89f3e;
  font-weight: 700;
}

.box-sale .premium_item_ribon .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #67461b transparent;
  bottom: -.8em;
  right: 0;
  border-width: .8em 1em 0 0;
}

.footer-wrapper {
  background-color: #f59f00;
  color: #fff;
  font-weight: 600;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.footer-bottom {
    background-color: #373f4a;
    color: #627185;
}

.closed {
  padding: 0;
}
ul.closed > li {
  list-style: none;
  font-weight: 400;
  line-height: 140%;
}

ul.closed > li > a {
  color: #fff;
  text-decoration: none;
}

ul.closed > li > a:hover {
  text-decoration: underline;
  color: white;
}

ul.socical {
  padding: 0;
  list-style-type: none;
}
ul.socical > li {
  display: inline-block;
  width: 2em;
}
ul.socical > li > a {
  border: 1px solid;
  padding: 5px;
  color: white;
  border-radius: 3px;
}


@media only screen and (max-width: 991px) {
  li.nav-item::after {
    content: "";
  }
}


